<%= form_for([@tag, @company], :html => { :class => 'form-vertical answer-form' }) do |f| %>

    <div class="form-group">
      <%= f.text_field :name, placeholder: 'Компания', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :address, placeholder: 'Адресса', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_field :phone, placeholder: 'Телефон', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Создать компанию', class: 'btn btn-primary' %>
    </div>
<% end %>