<div class="page-header">
  <h3><%= link_to 'Рубрики', root_path %> > <%= link_to @tag.rubric.name, @tag.rubric %> > <%= @tag.name %></h3>
</div>

<ol>
  <% if @companies.where(tag_id: @tag.id).any? %>
    <% company = @companies.where(tag_id: @tag.id) %>
    <% company.each do |c| %>
      <li>
        <p>Название: <%= link_to c.name, c %></p>
        <p>Адресса: <%= c.address %></p>
        <p>Телефон: <%= c.phone %></p>
      </li>
    <% end %>
  <% end %>
</ol>

<% if @tag.companies.count > 10 %>
    <%= paginate @companies %>
<% end %>
<br/>

<% if current_user %>
  <div class="page-header">
    <h3>Новая компания</h3>
  </div>
  <%= render 'companies/form' %>
<% end %>
